<!DOCTYPE html>
<html ng-app="dashIndexApp" ng-controller="DashLangController" ng-cloak>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{lang.title}}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="vendors/css/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="css/ctstats.css" type="text/css" rel="stylesheet">
	</head>
	<!--// this same index page can serve as the index for prod and non-prod.
		to add a new monitor, see comment below for pattern --> 
	<body>
		<div>
			<div class="container-fluid">
				<h3><span class="serverTitle">{{lang.title}}</span> <small>
				  {{date | date:'MM/dd/yyyy'}}
				  <span id="txt"></span> </small></h3>
				<p>
					{{lang.note1}}
				</p>
				<p class="alert  alert-danger" ng-show="lang.nonprodwarn">
					<strong>Please do not use this server to monitor production CTools status. Use </strong>
					<a class="btn btn-default"  href="https://tlstats.dsc.umich.edu"> TLStats Production </a>
				</p>
				<p class="hidden-xs">
					{{lang.note2}}
				</p>
				<p class="hidden-xs">
					{{lang.note3}}
				</p>
		</div>
			<div class="container-fluid">
					<div class="row">
						<div id="prod" class="col-md-6 col-sm-6 col-lg-6 col-lg-12">
							<h4>Dashboards</h4>
							<div class="well well-lg">
								<p>
									<!--// mustache syntax below renders an URL and a label that will vary depending on where this index page is deployed
										values for URL and label are retrieved from ./lang/lang.json -->
									<a class="btn btn-primary btn-block" href="{{lang.ptldashlink}}" target="_blank"><i class="glyphicon glyphicon-th-large"></i> {{lang.ptldashtitle}}</a>
								</p>
								<p>
									<a class="btn btn-default btn-block" href="{{lang.dblink}}" target="_blank"><i class="glyphicon glyphicon-hdd"></i> {{lang.dbtitle}}</a>
								</p>
								<p>
									<a class="btn btn-default btn-block"  href="{{lang.applink}}" target="_blank"><i class="glyphicon glyphicon-th-list"></i> {{lang.apptitle}}</a>
								</p>
							</div>
						</div>
						<div id="ctload" class="col-md-6 col-sm-6 col-lg-6 col-lg-12">
							<h4>CTLoad data</h4>
							<div class="well well-lg">
								<p>
									<a class="btn btn-default btn-block" href="{{lang.ctloadquicklink}}" target="_blank"><i class="glyphicon glyphicon-eye-open"></i> {{lang.ctloadquicktitle}}</a>
								</p>
								<p>
									<a class="btn btn-default btn-block" href="{{lang.ctloaddblink}}" target="_blank"><i class="glyphicon glyphicon-hdd"></i> {{lang.ctloaddbtitle}}</a>
								</p>
							</div>
						</div>
					</div>

				<div class="row">
					<div id="header" class="col-md-12 col-sm-12 col-lg-12 col-lg-12">
						<h4>General links</h4>
						<div class="well well-lg">
							<p>
								All TLStats dashboards and graphs are accessable from the TLStats drraw homepage.
							</p>
							<p>
								<a class="btn btn-default btn-block" href="{{lang.ctloadhomelink}}" target="_blank"><i class="glyphicon glyphicon-home"></i> {{lang.ctloadhometitle}}</a>
                          </p>
                          <!--
							<p>
								Access to the general ITS server graphs.
							</p>
							<p>
								<a class="btn btn-default btn-block" href="{{lang.ctloadcloudlink}}" target="_blank"><i class="glyphicon glyphicon-cloud"></i> {{lang.ctloadcloudtitle}}</a>
								<!--
								</p> <a href="https://webservices.itcs.umich.edu/mediawiki/CToolsAdmin/index.php/Category:CTStats" target="_blank"><input type="button" name="ctstats-docs" value="CTStats wiki documentation"></a>
							</p>
                          -->
						</div>
					</div>
				</div>	
			</div>
			<script src="vendors/js/jquery.min.js"></script>
			<script src="vendors/js/angular.js"></script>
			<script src="js/ctstats.js"></script>
		</div>
	</body>
</html>
